/* COLORI */
/* verde #009688 */
/* verde chiaro #DCF8C6 */
/* grigio chiaro (icone) #D9DBD4 */
/* grigio chiarissimo #EDEDED */
/* celeste #9DE1FE */

/* REGOLE COMUNI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  background-image: linear-gradient(to bottom, #009688 0%, #009688 17.5%, #D9DBD4 17.5%, #D9DBD4 100%);
}
#root {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 80vW;
  /* flex */
  display: flex;
}
input {
  padding: 10px;
  font-size: 14px;
  background-color: white;
  border: 0;
  border-radius: 10px;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
img {
  height: 50px;
  border-radius: 50%;
}
i {
  color: grey;
  font-size: 18px;
}
header i {
  opacity: 0.5;
}
i:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 1;
}
ul {
  list-style: none;
}
li {
  position: relative;
  padding: 10px;
  /* height: 70px; */
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  /* flex */
  display: flex;
  align-items: center;
}
li:hover {
  background-color: rgba(237, 237, 237, 0.25);
}
li p {
  margin-left: 10px;
}
li span {
  position: absolute;
  top: 10px;
  right: 10px;
}
span {
  font-size: 12px;
  opacity: 0.5;
}
/* classi */
.message_text {
  margin-top: 5px;
  max-width: 200px;
  height: 20px;
  /* queste le 3 istruzioni per nascondere il testo */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.semibold {
  font-weight: 500;
}
.active {
  background-color: #EDEDED;
}
.sent {
  align-self: flex-end;
  margin: 5px 0;
  padding: 10px;
  max-width: 60%;
  background-color: #DCF8C6;
  border-radius: 10px;
}
.received {
  align-self: flex-start;
  margin: 5px 0;
  padding: 10px;
  max-width: 60%;
  background-color: white;
  border-radius: 10px;
}


/* CONTACTS */
#contacts {
  width: 35%;
}
#contacts li:hover {
  cursor: pointer;
}
/* contacts header */
#contacts header {
  width: 100%;
  height: 70px;
  background-color: #EDEDED;
  border-right: 1px solid rgba(211, 211, 211, 0.5);
  /* flex */
  display: flex;
}
#contacts header div:nth-of-type(1) {
  padding: 10px;
  height: 100%;
  width: calc(100% - 100px);
  /* flex */
  display: flex;
  align-items: center;
}
#contacts header div:nth-of-type(1) p {
  margin-left: 10px;
  font-weight: 600;
}
#contacts header div:nth-of-type(2) {
  height: 100%;
  width: 100px;
  /* flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* contacts main */
#contacts main {
  width: 100%;
  height: calc(100% - 70px);
  background-color: white;
}
#notification {
  padding: 15px;
  background-color: #9DE1FE;
  /* flex */
  display: flex;
  align-items: center;
}
#notification div:first-child {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}
#notification i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9DE1FE;
}
#notification i:hover {
  cursor: default;
}
#notification p:first-child {
  margin-left: 15px;
  font-size: 14px;
}
#notification a {
  margin-left: 15px;
  font-size: 12px;
  color: black;
  opacity: 0.6;
}
#notification a:hover {
  opacity: 1;
}
#search {
  padding: 10px;
  background-color: #EDEDED;
  /* flex */
  display: flex;
}
#search button {
  position: relative;
  width: 15%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border: none;
  border-right: 1px solid rgba(211, 211, 211, 0.5);
}
#search input {
  width: 85%;
  border-radius: 0px 10px 10px 0;
}
#search i {
  opacity: 0.5;
}
#search i:hover {
  opacity: 1;
}

/* CHAT */
#chat{
  width: 65%;
}
/* chat header */
#chat header {
  width: 100%;
  height: 70px;
  background-color: #EDEDED;
  /* flex */
  display: flex;
}
#chat header div:nth-of-type(1) {
  padding: 10px;
  height: 100%;
  width: calc(100% - 100px);
  /* flex */
  display: flex;
  align-items: center;
}
#chat header div:nth-of-type(1) > div {
  margin-left: 10px;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#chat header div:nth-of-type(1) > div p:last-child {
  font-size: 12px;
  opacity: 0.6;
}
#chat header div:nth-of-type(2) {
  height: 100%;
  width: 100px;
  /* flex */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* chat main */
#chat main {
  overflow-y: scroll;
  padding: 0 80px;
  width: 100%;
  height: calc(100% - 140px);
  background-image: linear-gradient(0deg, rgba(255, 228, 196, 0.25), rgba(255, 228, 196, 0.25)), url(../img/sfondo.jpg);
  background-size: contain;
  /* flex */
  display: flex;
  flex-direction: column;
}
#chat main div {
  position: relative;
  /* flex */
  display: flex;
  flex-direction: column;
}
#chat main span {
  margin-top: 5px;
  align-self: flex-end;
}
#chat footer {
  width: 100%;
  height: 70px;
  background-color: #EDEDED;
  /* flex */
  display: flex;
  align-items: center;
}
#chat footer input {
  width: 85%;
}
#chat footer i {
  margin: auto;
}
